@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque2 {
    background-color: #FFFFFF;
    padding: 4rem 0;
    height: auto;
    position: relative;
    overflow: hidden;
    @include m.desktop_1020 {
        padding: 6rem 0;
        // height: 38rem;
    }
    @include m.desktop_1200 {
        height: 70rem; 
        display: grid;   
    }
    @include m.desktop_1400 {
        height: 70rem;
    }
}



.bloque2Title {
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    h3 {
        margin: 0;
        width: 70%;
        // background-color: green;
        padding: 1rem 0;
        text-align: center;
        font-size: 2rem;
        color: black;
        @include m.phone_380 {
            font-size: 2.5rem;
        }
        @include m.desktop_1020 {
            font-size: 3rem;
        }
    }
}

.bloque2Container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    row-gap: 2rem;
    margin-top: 2rem;
    @include m.desktop_1020 {
        flex-direction: row;
        justify-content: center;
        column-gap: 8rem;
    }
}

.bloque2__item {
    width: 20rem;
    // background-color: red;
    text-align: center;
    @include m.desktop_1020 {
        width: 40rem;
        display: flex;
        column-gap: 2rem;
        align-items: center;
    }
    h3 {
        margin: 0;
        padding: 1rem 0;
        font-size: 1.3rem;
        font-weight: 600;
        color: black;
        @include m.desktop_1020 {
            font-size: 1.8rem;
            font-weight: 500;
        }
    }
    img {
        width: 8rem;
        height: 8rem;
    }
}



    .bloque2_lp-gracias-triangulo-blue {
   
   
    display: none;
    @include m.desktop_1020{
        display: block;
        left:0;
      
        //width:62rem;
        width: 70%;
        position:absolute;
        height: 100%;
        top:0;
        z-index: 1; 

    }
    @include m.desktop_1400 {
        width: 65%;
    }
  
    }

   
    .bloque3__item {
        width: 30rem;
        //background-color: orange;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        row-gap: 1rem;
        @include m.desktop_1020 {
            width: 70rem;
            // background-color: purple;
            row-gap: 2rem;
        }
        &:nth-child(1) {
            // background-color: green;
            position: relative;
        }
        h3, h4 {
            margin: 0;
            // background-color: red;
            // width: 25rem;
            text-align: center;
            color: black;
        }
        h3 {
            font-size: 1.5rem;
            font-weight: 600;
            @include m.desktop_1020 {
                font-size: 3rem;
            }
            span {
                font-weight: 800;
            }
        }
        h4 {
            font-size: 1.6rem;
            text-decoration: underline;
            font-weight: 500;
            cursor: pointer;
            @include m.desktop_1020 {
                font-size: 2.5rem;
            }
        }
        button {
            position: relative;
            height: 4rem;
            width: 25rem;
            background-color: black;
            border: none;
            border-radius: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 1rem;
            @include m.desktop_1020 {
                width: 40rem;
                height: 5rem;
            }
            img {
                width: 2.5rem;
                height: 2.5rem;
                // background-color: green;
                @include m.desktop_1020 {
                    width: 3.5rem;
                    height: 3.5rem;
                }
            }
            .bloque3ButtonText {
                margin: 0;
                color: white;
                // padding-left: 2rem;
                font-size: 1.4rem;
                // width: 38rem;
                // padding: 1rem 0;
                width: auto;
                @include m.desktop_1020 {
                    font-size: 2.5rem;
                    // padding-left: 7rem;
                    width: auto;
                }
          }
        
        
            
    }
    
    }
        
        
    .bloque3Separator {
        height: 6rem;
        width: 100%;
        display: flex;
        justify-content: center;
        @include m.desktop_1020 {
            height: 8rem;
        }
        .bloque3SeparatorLine {
            width: 85%;
            height: 50%;
            border-bottom: 1.5px solid black;
            @include m.desktop_1020 {
                width: 75%;
            }
            @include m.desktop_1400 {
                width: 55%;
            }
        }
    }
    


   



 
    


   


