doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Conversatorios Cayetano
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    body
        .bloque1
            img.bloque1Image(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/escudo-1.webp", alt="")
            .bloque1Container
                .bloque1Left
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/beca18evento-logo-scaled.webp", alt="")
                    .bloque1LeftTitle
                        h3 ¡Gracias por registrarte!
                        p Estamos emocionados por tu visita. Prepárate para descubrir todo lo que Cayetano tiene para ti.
                .bloque1Right
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/visitas-guiada-gracias-tano-scaled.webp", alt="")
        
        .bloque2
            
            .bloque2Title
                h3 Mientras esperas...
            .bloque2Container
                .bloque2__item
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/mail.webp", alt="gracias-pge-icon1", loading="lazy")
                    h3 Revisa tu bandeja de entrada o de spam para estar al tanto de la entrega.
        
            .bloque3
                .bloque3__item
                    h3 ¿Tienes alguna duda?
                    button
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gracias-pge-icon3.webp", alt="")
                        h3.bloque3ButtonText Chatea con nosotros
                .bloque3Separator
                    .bloque3SeparatorLine
                .bloque3__item
                    h3 Síguenos
                    .bloque3SocialLinks
                        a(href="https://www.facebook.com/tuempresa", target="_blank")
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/facebook.webp", alt="Facebook", width="30", height="30")
                        a(href="https://twitter.com/tuempresa", target="_blank")
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/facebook-copia-2.webp", alt="Twitter", width="30", height="30")
                        a(href="https://www.instagram.com/tuempresa", target="_blank")
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/facebook-copia.webp", alt="Instagram", width="30", height="30")

        .bloque4
            .container
                .bloque4Title
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/logo-movile-cayetano.webp", alt="")
                        
                .bloque4Content
                    h4 Campus Central:
                    h4 Av. Honorio Delgado 430
                    h4 Urb. Ingeniería, San Martín de Porres

                    